<h1>Listing claims</h1>


<%= form_tag import_claims_path, multipart: true do %>
  <%= file_field_tag :file %>
  
  <%= submit_tag "Import" %>
<% end %>


<%= @claims %>


<br>

<%= link_to 'New Claim', new_claim_path %>
