<h1>Listing videos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Ytube</th>
      <th>Views</th>
      <th>Revenue</th>
      <th>Report</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.title %></td>
        <td><%= video.ytube_id %></td>
        <td><%= video.views %></td>
        <td><%= video.revenue %></td>
        <td><%= video.report %></td>
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_tag import_videos_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<br>

<%= link_to 'New Video', new_video_path %>
