

<h1>Listing videos</h1>
<div class="page">
<section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Responsive Table - Normal</strong></div>
        <div class="panel-body">
            <table class="responsive table table-striped">
  <thead>
    <tr>
      <th>Rank</th>
      <th>YouTube ID</th>
      <th>Title</th>      
      <th>Views</th>
      <th>Revenue</th>
      <!-- <th>Report</th> -->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% counter = 0 %>
    <% @videos.each do |video| %>
      <tr>
        <td><%= counter = counter + 1 %></td>
        <td><%= video.ytube_id %></td>
        <td><%= video.title %></td>        
        <td><%= video.views %></td>
        <td><%= video.revenue %></td>
        <!-- <td><%= video.report %></td> -->
        <!-- <td><%= video.dead %></td> -->
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

   </div>
</section>
</div>    


<%= form_tag import_videos_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<br>

<%= link_to 'New Video', new_video_path %>



   
