<!DOCTYPE html>
<html>
<head>
  <title>VersionFourteen</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
	<link rel="stylesheet" href="/styles/ui.css"/>
	<link rel="stylesheet" href="/styles/main.css">
	<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
</head>
<body>
	<%= render 'layouts/header' %>
	<%= render 'layouts/nav' %>
	<div class="view-container">
		<section data-ng-view="" id="content" class="animate-fade-up">
			<%= yield %>
		</section>
	</div>

	<script src="/scripts/vendor.js"></script>
	<script src="/scripts/ui.js"></script>
	<script src="/scripts/app.js"></script>

</body>
</html>
