<!DOCTYPE html>
<html>
<head>
  <title>VersionFourteen</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
	<link rel="stylesheet" href="/styles/ui.css"/>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<%= render 'layouts/header' %>
<%= yield %>

<script src="/scripts/vendor.js"></script>
<script src="/scripts/ui.js"></script>
<script src="/scripts/app.js"></script>

</body>
</html>
